<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>SageBar</string>
    <key>CFBundleIdentifier</key>
    <string>dev.claudeusage.ClaudeUsage</string>
    <key>CFBundleName</key>
    <string>Sage Bar</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSScriptingDefinition</key>
    <string>ClaudeUsage.sdef</string>
    <key>SUFeedURL</key>
    <string>https://gongahkia.github.io/sage-bar/appcast.xml</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2025 Sage Bar. All rights reserved.</string>
</dict>
</plist>
